body{
    background-color: #202020;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3{
    color: #83cc8d;
    text-align: center;
    font-size: 40px;
    margin: 10px;
}

h5{
    color: #d3a349;
    text-align: center;
    font-size: 20px;
    margin: 0px 0px 80px 0px;
}

.game{
    justify-content: center;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 160px 160px 160px;
    grid-template-rows: 160px 160px 160px;
    margin-top: 30px;
}

button{
    width: 150px;
    height: 150px;
    background-color: #2ba5dd;
    border-radius: 5px;
    color: white;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

#restart{
    font-size: 15px;
    padding: 10px 20px;
    background-color: #d3a349;
    margin: auto;
    width: auto;
    height: auto;
}

@media (max-width:600px){
    h5{font-size: 10px;}
    .game{
        grid-template-columns: 85px 85px 85px;
        grid-template-rows: 85px 85px 85px;
    }
    button{
        width: 75px;
        height: 75px;
        font-size: 30px;
    }
}